@font-face {
    font-family: 'littledays';
    src: url(../fonts/littledays.ttf) format("truetype");
}
@font-face {
    font-family: 'tropicalasian';
    src: url(../fonts/tropicalasian.ttf) format("truetype");
}


$cyany: #a6c8cc;


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: $cyany;
}


.menu {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 80px;


    nav {
        display: flex;
        flex-direction: column;
        // align-items: center;
        align-items: flex-end;
        // border: 1px solid black;
    }

    a {
        text-decoration: none;
        font-size: 50px;
        font-family: 'tropicalasian', sans-serif;
        font-weight: bold;
        Color: #360b4f;

        &:hover {
            color: #6e5b99;
        }
    }
}


.cat {
    position: absolute;
    bottom: 40px;
    left: 80px;
    height: 50vmin;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
    // opacity: 0;
    // transition: opacity 0.25s ease;

    .popup-content {
        background: url('../watercolor_texture.jpg');
        // border: 1px solid black;
        // padding: 100px;
        height: 600px;
        width: 600px;
        box-shadow: 0px 3px 40px rgba(0,0,0,.4);
        // height: 100%;
        // width: 100%;
        display: flex;
        flex-direction: column;

        // align-items: center;
        // justify-content: center;

        p {
            padding: 30px;
            padding-top: 0;
            font-size: 30px;
            font-family: littledays, sans-serif;
            font-weight: bold;
            line-height: 1.5;
            color: #1e1e1e;
        }

        .hole-container {
            display: flex;
            justify-content: space-between;

            div, object {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 0;
            }

            .close-btn {
                display: flex;
                flex-direction: row-reverse;
                cursor: pointer;

                object {
                    height: 30px;
                    right: 0px;
                    flex-grow: 0;
                    margin: 20px;
                }
            }

            .butterfly {
                height: 40px;
                margin-top: 30px;
            }


            // .hole {
            //     width: 25px;
            //     height: 25px;
            //     background: $cyany;
            //     border-radius: 100%;
            //     margin: 10px;
            // }
        }
    }
}
