@font-face {
    font-family: 'ostrich sans bold';
    src: url(../fonts/OstrichSans-Bold.otf);
}

@font-face {
    font-family: 'dosis';
    src: url(../fonts/Dosis-Book.ttf) format("truetype");
}


$cyany: #a6c8cc;


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: $cyany;
}


.home {

    #menu {
        position: absolute;
        bottom: 0;
        right: 0;
        // margin-bottom: 40px;
        margin-bottom: 3.7vh;
        // margin-right: 80px;
        margin-right: 4vw;

        nav {
            display: flex;
            flex-direction: column;
            // align-items: center;
            align-items: flex-end;
            // border: 1px solid black;
        }

        a {
            text-decoration: none;
            // font-size: 47px;
            font-size: 5.5vmin;
            // font-family: 'tropicalasian', sans-serif;
            font-family: 'ostrich sans bold', sans-serif;
            // font-family: 'linden hill', sans-serif;
            // font-family: 'junction', sans-serif;
            // font-family: 'league spartan', sans-serif;
            // font-family: 'raleway', sans-serif;
            // font-family: 'prociono', sans-serif;
            // font-family: 'prociono', sans-serif;
            // font-weight: bold;
            letter-spacing: 3px;
            Color: #360b4f;

            &:hover {
                color: #6e5b99;
            }
        }
    }


    #cat {
        position: absolute;
        // bottom: 40px;
        bottom: 3.7vh;
        // left: 80px;
        left: 4vw;
        // height: 50vmin;
        height: 50vh;
    }
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
    // opacity: 0;
    // transition: opacity 0.25s ease;

    background: rgba(255, 255, 255, 0.1);

    .popup-background {
        z-index: 10;

        background: #9ba9d5;
        height: 72vmin;
        width: 72vmin;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 6%;
        box-shadow: 0px 3px 40px rgba(0,0,0,.4);


        .close-btn, .close-btn-icon {
            cursor: pointer;
            // height: 20px;
            height: 2.65vmin;
            // width: 20px;
            width: 2.65vmin;
            position: absolute;
            // top: calc(((100% - 70vmin) / 2) + 25px);
            top: calc(((100% - 72vmin) / 2) + 2.61vmin);
            // right: calc(((100% - 70vmin) / 2) + 25px);
            right: calc(((100% - 72vmin) / 2) + 2.61vmin);
        }

        .popup-content {
            // background: url('../watercolor_texture.jpg');
            // border: 1px solid black;
            // padding: 100px;
            // height: 600px;
            // width: 600px;
            height: 62vmin;
            width: 62vmin;
            // border: 1px solid black;
            background: #ec9cab;
            border-radius: 6%;
            box-shadow: 0px 3px 40px rgba(0,0,0,.4);
            // height: 100%;
            // width: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            // overflow-y: scroll;

            // align-items: center;
            // justify-content: center;

            p {
                // padding: 30px;
                padding: 2.77vh;
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: 0.92vh;
                // font-size: 32px;
                font-size: 3.46vh;
                font-family: 'dosis', sans-serif;
                letter-spacing: 1px;
                // text-align: center;
                // line-height: 50px;
                line-height: 4.92vh;
                color: #1e1e1e;
            }

            .icons {
                display: flex;
                // padding-left: 25px;
                padding-left: 1.70vh;

                .icon {
                    // height: 30px;
                    height: 2.77vh;
                    // margin: 10px;
                    margin: 0.92vh;
                }
            }

            #rabbit {
                position: absolute;
                height: 20vmin;
                bottom: calc((100% - 72vmin) / 2);
                right: calc(((100% - 72vmin) / 2) + 1.85vmin);
            }
        }
    }
}

#particle-js {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .popup-content p {
        font-size: 17px !important;
        line-height: 1.2 !important;
    }
}
